.centered
{
    text-align: center;

}
.medium
{
    font-size: medium;
}
.heading
{
    background-color:lightblue;
    color:white;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;

}
